.forgot-password-container{
    /* padding-top: 10rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-password-container h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.forgot-password-container form{
    text-align: center;
    width: 30%;
    border: 1px solid;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: antiquewhite;
}

.forgot-password-container input{
    width: 100%;
    border: 1px solid;
    padding: 5px;
    font-size: 1.2rem;
    margin-right: 1rem;
    border-radius: 5px;

}

.forgot-password-container button{
    background-color: #007BFF;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    color: white;
    width: 30%;
}

.forgot-password-container button:hover{
    background-color: #0056b3;
}

.forgot-password-container form p{
    font-size: 1.2rem;
    text-align: center;
    color: red;
}


@media (max-width: 1500px) {
    .forgot-password-container form{
        width: 40%;
    }
}


@media (max-width: 1000px) {
    .forgot-password-container form{
        width: 60%;
    }
}

@media (max-width: 700px) {
    .forgot-password-container form{
        width: 80%;
    }
}


@media (max-width: 500px) {
    .forgot-password-container form{
        width: 90%;
    }

    .forgot-password-container button{
        width: 50%;
    }
}

@media (max-width: 500px) {
    .forgot-password-container form{
        width: 98%;
    }

    .forgot-password-container h1{
        font-size: 1.5rem;
    }


    .forgot-password-container button{
        width: 70%;
        font-size: 1rem;
    }

    .forgot-password-container input{
        font-size: 1rem;
    }
    
    .forgot-password-container form p{
        font-size: 1rem;
    }

}