.home{
    padding: 0rem 10rem 0rem 10rem;
    width: 100vw;
}

.heading{
    text-align: center;

}

.home-content{
    display: flex;
    width: 100%;
}

.right-content{
    width: 20%;
    box-shadow: 0px 0px 22px -10px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}



  /* Styles for the price filter section */

  .right-content h3{
    padding: 4px;
    font-size: 2rem;
    margin-bottom: 10px;
    width: 100%;
    background-color: #007BFF;
    text-align: center;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    
  }
 
/* ................For Category section.....................*/
  .category{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .category select {
    width: 90%;
    padding: 4px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    margin-bottom: 2rem;

  }
  
  .right-content select:focus {
    border-color: #007BFF;
  }


    /* .right-content .reset-btn {
    display: block;
    width: 90%;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #ff4c4c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .right-content .reset-btn:hover {
    background-color: #d43f3f;
  }
   */
/*........Left Content....................................*/
.left-content{
    width: 80%;  

}

/*.............products...............................*/

.our-product h1{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(255, 104, 4);
}

.all-products{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem;
  justify-items: center;
}

.all-product-section h1{
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  color: rgb(255, 104, 4);
}

/*.......................... Cart Page.............................*/
.cartPage {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
      width: 30%;
      height: 95vh;
      position: fixed;
      top: 1rem;
      margin-top: 4rem;
      right: 1rem;
      background-color: azure;
      box-shadow: 0px 0px 30px -7px;
      opacity: 0;
      transform: translateX(100%);
      transition: opacity 0.5s ease, transform 0.5s ease;
      overflow-y: auto; 
      overflow-x: hidden; 
    }

    .cartPage.visible {
      opacity: 1;
      transform: translateX(0);
      height: 73%;
    }
    
    .cartPage.hidden {
      opacity: 0;
      transform: translateX(100%);
    }


.top-sell-products{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem;
  justify-items: center;
}

.top-sell-section h1{
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  color: rgb(255, 104, 4);
}

.popular-product{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem;
  justify-content: center;
}

.popular-product-section h1{
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  color: rgb(255, 104, 4);
}

@media (max-width: 1500px) {
  .home{
    padding: 0rem 2rem 0rem 2rem;

}
  .top-sell-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
    justify-content: center;
  }

  .popular-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
    justify-content: center;
  }

  .all-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
    justify-content: center;
  }

  .category select {
    font-size: 10px;
  }

}

@media (max-width: 920px) {

  .home{
    padding: 0rem 1rem 0rem 1rem;

  }
  .top-sell-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
    justify-content: center;
  }
  .popular-product{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
    justify-content: center;
  }

  .all-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
    justify-content: center;
  }
}

@media (max-width: 550px) {

  .home{
    padding: 0rem 0rem 0rem 0rem;
  }

  .home-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.right-content{
  width: 50%;
  height: auto;
  margin-top: 2rem;
}

  .top-sell-products{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr); 
    gap: 0.3rem;
    justify-content: center;
  }
  .popular-product{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr); 
    gap: 0.3rem;
    justify-content: center;
  }

  .all-products{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr); 
    gap: 0.3rem;
    justify-content: center;
  }
}

@media (max-width: 360px) {

  .top-sell-products{
    display: grid;
    grid-template-columns: repeat(1, 0fr); 
    gap: 0.3rem;
    justify-content: center;
  }
  .popular-product{
    display: grid;
    grid-template-columns: repeat(1, 0fr); 
    gap: 0.3rem;
    justify-content: center;
  }

  .all-products{
    display: grid;
    grid-template-columns: repeat(1, 0fr); 
    gap: 0.3rem;
    justify-content: center;
  }

.top-sell-section h1, .popular-product-section h1, .all-product-section h1{
    text-align: center;
    
  }
}


@media (max-width: 1050px) {
  .cartPage {
      width: 40%;
    }

}

@media (max-width: 850px) {
  .cartPage {
      width: 50%;
    }

}

@media (max-width: 650px) {
  .cartPage {
      width: 95%;
    }

}
