.allUsers-container{
    padding: 10rem;
    overflow-y: hidden;
}

.allUsers-container h1{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.back-button {
    background-color: #007bff; /* Customize the background color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px; /* Adjust spacing as needed */
}

.back-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}


.delete{
    color: red;
}